# ข้อสอบกลางภาค
## วิชาการเขียนโปรแกรมเชิงวัตถุ
## ประจำภาคการศึกษา 2/2566

### สอนโดย ผู้ช่วยศาสตราจารย์พิศาล สุขขี

คำชี้แจง ข้อสอบแบ่งออกเป็น 2 ส่วน (รวม 30 คะแนน)

ส่วนที่ 1 : ทดสอบความรู้ความเข้าใจพื้่นฐานการเขียนโปรแกรมภาษาไพธิน 10 ข้อ ข้อละ 2 คะแนน (รวม 20 คะแนน)

ส่วนที่ 2 : ทดสอบการประยุกต์แก้ไขปัญหาโจทย์โปรแกรม 2 ข้อ ข้อละ 5 คะแนน (รวม 10 คะแนน)

# นายพีรพัฒน์ สุทธปัญญา 6612732121

<hr>

# ส่วนที่ 1 ข้อละ 2 คะแนน

### 1. กำหนดให้ a = 0.5155675 จงแสดงค่าของตัวแปร a ในรูปแบบทศนิยม 2 ตำแหน่ง

In [1]:
# คำตอบ
a = 0.5155675
print("pi : {0:.2f}".format(a))

pi : 0.52

## 2. กำหนดให้นิพจน์คณิตศาสตร์ 

$ 1 + 6 \times 8 - 7 $

มีผลลัพธ์ของการดำเนินการเท่ากับ 7

แสดงแทนนิพจน์ด้านบนด้วยโปรแกรมโปรแกรมภาษาไพธอนที่ให้ค่าลัพธ์ตามที่กำหนด

In [60]:
# คำตอบ 
1 + 6 * (8 - 7)

7

## 3. จงแทนนิพจน์คณิตศาสตร์ต่อไปนี้ให้เป็นโปรแกรมภาษาไพธอน

$ \frac{5 + 6^{2.5}}{\sqrt[2]{3.5}} + 3^2 $

In [4]:
# คำตอบ
result = ((5 + 6 ** 2.5) / (3.5 ** (1/2))) + 3 ** 2
print(result)

58.8076767100986

## 4. การดำเนินการกับลิสต์

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

จงเลือกสมาชิกตัวที่ 2 จนถึงตัวที่ 5

In [9]:
# คำตอบ
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_list[2:6]

[30, 40, 50, 60]

## 5. จงแปลงข้อมูลต่อไปนี้ให้อยู่ในรูปของ Dictionary

| รหัสนักศึกษา | ชื่อ |           สกุล           |
|:---------:|:--------:|:--------------------------:|
|    6612732101    |  นายกรวีร์     |           จูมจันทร์          |
|    6612732102    |  นายกฤษณ     |           สุขไชยญาติ          |
|    6612732103    |  นายกิตตินันท์   | สองศร |

In [42]:
# คำตอบ
student_dict = {
    'stu1': {
        '6612732101': {
            'prefix': 'นาย',
            'fname': 'นายกรวีร์',
            'lname': 'จูมจันทร์',
        }
    },
    'stu2': {
        '661273102': {
            'prefix': 'นาย',
            'fname': 'กฤษณ',
            'lname': 'สุขไชยญาติ',
        }
    },
    'stu3': {
        '6612732103': {
            'prefix': 'นาย',
            'fname': 'กิตตินันท์',
            'lname': 'สองศร',
        }
    }
}

In [45]:
student_fname = student_dict.get('stu1').get('6612732101').get('fname')
print(student_fname)

นายกรวีร์

## 6. จากข้อ 5 จงแสดงวิธีการเข้าถึงข้อมูลของ นายกิตตินันท์ สองศร

In [43]:
# คำตอบ
student_data = student_dict["stu3"]["6612732103"]
if student_data is not None:
    print("stu3 {} {} {}".format(
        student_data.get("prefix"),
        student_data.get("fname"),
        student_data.get("lname")
    ))

stu3 นาย กิตตินันท์ สองศร

## 7. จงพิจารณาเงื่อนไขและพิมพ์ชุดคำสั่งแทนส่วนที่เว้นว่างไว้

จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ชื่อของนักเรียนแต่ละคนและความสูงออกมา โดยจะพิมพ์ออกมาเฉพาะคนที่ชื่อนำหน้าด้วยตัวอักษรอื่น<u>**ที่ไม่ใช่**</u> `'A'` และ<u>**ไม่ใช่**</u> `'C'` และมีความสูงมากกว่า 160 เซนติเมตรเท่านั้น

In [55]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_names)):
    if student_names[i][0] not in ['A', 'C'] and student_heights[i] > 160 :
        print(student_names[i], ':', student_heights[i])

Dorothy : 161.25
Emily : 170.0

## 8. โปรแกรมสูตรคูณอย่างง่าย

จงวนลูปเพื่อแสดงสูตรคูณแม่ 3 ไล่ตั้งแต่ 3×1 จนถึง 3×12 โดยจะได้ผลลัพธ์ดังนี้

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
:
:
:
3 * 12 = 36

In [58]:
# คำตอบ
# วนลูปค่า index i จาก 1 ถึง 12

for i in range(1,13):
    print("3 * {} = {}".format(i, 3 * i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

## 9. เขียนฟังก์ชันเพื่อแยกชื่อ และนามสกุลออกจากัน พร้อมแสดงทางหน้าจอ

In [26]:
full_names = ['Harry Potter', 
              'Hermione Granger', 
              'Ronald Weasley']

In [67]:
# คำตอบ

# กำหนดฟังก์ชัน
# กำหนดฟังก์ชัน
def separate_names(full_names):
    for name in full_names:
        first_name, last_name = name.split()
        print(f"First name: {first_name}, Last name: {last_name}")


full_names = [
    'Harry Potter',
    'Hermione Granger',
    'Ronald Weasley'
]

separate_names(full_names)

First name: Harry, Last name: Potter
First name: Hermione, Last name: Granger
First name: Ronald, Last name: Weasley

## 10. จงแปลงขอความให้เป็นตัวอักษรเล็กทั้งหมด

In [17]:
my_str = 'Python Data Types: Dictionary - Exercises, Practice, Solution'

In [63]:
# คำตอบ
my_str = 'Python Data Types: Dictionary - Exercises, Practice, Solution'
lowercase_str  = my_str.lower()
print(lowercase_str)

python data types: dictionary - exercises, practice, solution

<hr>

# ส่วนที่ 2 ข้อละ 5 คะแนน

## 11. โปรแกรมคำนวนภาษีมูลค่าเพิ่ม

จงเขียนโปรแกรม เพื่อคํานวณ หาภาษีมูลค่าเพิ่มของบริการ โดยให้มีการทำงานดังนี้ คือ รับราคาบริการ จากนั้นคำนวณหาค่าบริการที่รวมภาษีมูลค่าเพิ่มแล้ว และทำการแสดงผลดังตัวอย่าง

In [ ]:
# ตัวอย่างการทำงาน 1

Enter Service Price : 1000

Service Price
Price : 1000
Vat : 70
Total Price : 1070
 
Thank you.

# ตัวอย่างการทำงาน 2

Enter Service Price : 500

Service Price
Price : 500
Vat : 35
Total Price : 535
 

Thank you.

ข้อมูลเพิ่มเติม

1) สามารถหาภาษีมูลค่าเพิ่ม (Vat) ได้จากสูตร ราคาสินค้า * ( 7  / 100 )
2) ราคารวมภาษีมูลค่าเพิ่ม หาได้จากสูตร ราคาสินค้า + Vat ที่หาได้

In [68]:
# คำตอบ
service_price = float(input("Enter Service Price : "))

vat = service_price * (7 / 100)

total_price = service_price + vat

print("\nService Price")
print(f"Price: {service_price}")
print(f"Vat:{vat}")
print(f"Total Price: {total_price}\n")
print("Thank you.")

Enter Service Price :  1000

Service Price
Price: 1000.0
Vat:70.0
Total Price: 1070.0

Thank you.

## 12. โปรแกรมคำนวนค่าเรียนพิเศษ

จงเขียนโปรแกรมคำนวณค่าเรียนพิเศษของ ติวเตอร์คณิตศาสตร์ แห่งหนึ่ง โดย ติวเตอร์แห่งนี้ คิดค่าเรียนเป็นรายชั่วโมง

ชั่วโมงละ 450 บาท และจ่ายเป็นแบบครั้งต่อครั้ง

โดยให้โปรแกรมมีการรับค่าจำนวนช่วงโมงที่สอน และมีรูปแบบการทำงานและแสดงผลตามตัวอย่างต่อไปนี้

ตัวอย่างการทำงาน ครั้งที่ 1

RUN : ทดสอบด้วยการป้อนจำนวนชั่วโมงที่เรียนเป็น 5 ชั่วโมง

Enter Hour : 5
Total : 2250

ตัวอย่างการทำงาน ครั้งที่ 2

RUN : ทดสอบด้วยการป้อนจำนวนชั่วโมงที่เรียนเป็น 1 ชั่วโมง

Enter Hour : 1
Total : 450

In [70]:
# คำตอบ
hours = int(input("Enter Hour: "))

total_cost = hours * 450

print(f"\nTotal: {total_cost}\n")

run_again = input("Do you want to run again? (y/n): ")

while run_again.lower() == 'y':
    hours = int(input("Enter Hours: "))
    total_cost = hours * 450
    print(f"\nTotal: {total_cost}\n")
    run_again = input("Do you want to run again? (y/n): ")
    
print("Thank you.")

Enter Hour:  5

Total: 2250

Do you want to run again? (y/n):  y
Enter Hours:  1

Total: 450

Do you want to run again? (y/n):  y
Enter Hours:  3

Total: 1350

Do you want to run again? (y/n):  n

Thank you.

<hr>

**ข้อให้ทุกคนโชคดีในการสอบ**<br>
ผู้ช่วยศาสตราจารย์พิศาล สุขขี<br>
สาขาวิทยาการคอมพิวเตอร์<br>
มหาวิทยาลัยราชภัฏศรีสะเกษ